
<!--
  <div class="card row fuente-app">

    <div class="card-body col-10">
      <img src="assets/img/mollo.jpg" class="card-img" alt="...">
      <a href="#" class="btn btn-primary"><h5 class="card-title">Rock</h5></a>
      <p class="card-text">Rock Nacional, Internacional, alternativo</p>
    </div>

    <div class="card-body col-10">
      <img src="assets/img/lali2.jpg" class="card-img" alt="...">
      <a href="#" class="btn btn-primary"><h5 class="card-title">Pop</h5></a>
      <p class="card-text">El genero Pop de todo el mundo</p>
    </div>

    <div class="card-body col-10">
      <img src="assets/img/lit-killah.jpg" class="card-img" alt="...">
      <a href="#" class="btn btn-primary"><h5 class="card-title">Urbano</h5></a>
      <p class="card-text">Todo lo nuevo de acá</p>
    </div>

  </div>
-->

<div class="row row-cols-1 row-cols-md-3 g-4 fuente-app">
  <div class="col">

      <img src="assets/img/mollo.jpg" class="card-img" alt="...">
      <div class="card-body">
        <a href="#" class="btn btn-primary"><h5 class="card-title">Rock</h5></a>
        <p class="card-text">Rock Nacional, Internacional, alternativo</p>
      </div>

  </div>
  <div class="col">

      <img src="assets/img/lali2.jpg" class="card-img" alt="...">
      <div class="card-body">
        <a href="#" class="btn btn-primary"><h5 class="card-title">Pop</h5></a>
        <p class="card-text">El genero Pop de todo el mundo</p>
      </div>

  </div>
  <div class="col">

      <img src="assets/img/lit-killah.jpg" class="card-img" alt="...">
      <div class="card-body">
        <a href="#" class="btn btn-primary"><h5 class="card-title">Urbano</h5></a>
        <p class="card-text">Todo lo nuevo de acá</p>
      </div>

  </div>
</div>
